* {
    padding: 0;
    margin: 0;
}

body {
    background:linear-gradient(#014871, #A0EBCF, #014871)
}


/*MWP header start*/
img {
    display: block;
    width: 90%;
    margin: auto;
}

.fade-in{
    animation: fadeIn ease 8s; 
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/*MWP header end*/

/*nav section start*/

nav ul {
    display:flex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    padding:20px;
    margin:10px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 150%;
    padding: .5em;
    text-shadow: 0 0 10px black;
}

nav ul li a:hover {
    background-color:  #A0EBCF;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    text-shadow: none;
    padding: 10px;
    transition: 1s;
}
/*nav section end*/

/*about me section start*/


.flex-row {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 10%;
}

  #about-me h2 {
    width:auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 400%;
    color:lightgrey;
    text-shadow: 0 0 10px rgb(88, 88, 88);
}

.paragraph p{
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    margin:auto;
    width: 80%;
}

#MWP-Picture {
    width: 100%;
    margin: auto;
    border: 10px solid rgb(153, 152, 152);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(25,25,25);
}


/*about me section end*/

/*portfolio section start*/
.portfolio-container{
    display: flex;
    width:100%;
    justify-content: space-evenly;
    margin: 5% auto;
}

.portfolio-container h2{
    width:auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 400%;
    color:rgb(236, 234, 234);
    margin: 0, 5%;
    justify-content: start;
    text-shadow: 0 0 10px rgb(88, 88, 88);
}

.portfolio-grid{
    width:70%;
    height:50%;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px 50px;
    grid-template-areas:
    "Run-Buddy MWP-Web Locker-Mint"
    "Run-Buddy Survey-Form Garage-Kitty"
    "Legendary-Pirate Tombstone Tombstone";
}

.grid-container img {
    border: 10px solid grey;
    border-radius: 20px;
}

.MWP-Web {
    grid-area: MWP-Web;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-shadow: 0 0 5px black;
    font-size: 110%;
}           
.Locker-Mint { 
    grid-area: Locker-Mint;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-shadow: 0 0 5px black;
    font-size: 110%;
}
  
.Run-Buddy {
    grid-area: Run-Buddy;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:white; 
    text-shadow: 0 0 5px black;
}
    
.Tombstone { 
    grid-area: Tombstone;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-shadow: 0 0 5px black;
    font-size: 110%;
 }

.Garage-Kitty { 
    grid-area:Garage kitty; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-shadow: 0 0 5px black;
    font-size: 110%;
}
  
.Survey-Form { 
    grid-area: Survey-Form;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:white; 
    text-shadow: 0 0 5px black;
    font-size: 110%;
}
  
.Legendary-Pirate { 
    grid-area: Legendary-Pirate; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-shadow: 0 0 5px black;
    font-size: 110%;
}
  
.grid-container img{
    margin:auto;
    height: 100%;
    width: 100%;
}
.MWP-Web span {
    text-align: center;
}
  
.grid-container img:hover{
    filter: grayscale(80%);

}
/*portfolio section end*/

/*contact section start*/

#contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: auto;
}

#about-me h2, #contact h2{
    width:auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 400%;
    color:lightgrey;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.contact-text  {
       margin:0;
  }

.flex-row1 {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.contact-icons ul {
    display:flex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-icons ul li {
    padding:10px;
    margin:10px;
    list-style-type: none;
    }

.contact-icons ul li a {
    text-decoration: none;
    color: white;
    font-size: 200%;
    padding: .5em;
    text-shadow: 0 0 10px black;
}
 
.contact-icons ul li a:hover {
    background-color:  #A0EBCF;
    border-radius: 10px;
    padding: .1em;
    box-shadow: 5px 5px 10px black;
    text-shadow: none;
    transition: 1s;
}
/*contact section end*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    nav {
        display:flex;
        justify-content: space-around;
    }

    nav ul li a {
        font-size:40px;
    }
     
   #about-me{
       /*background-color:orange;*/
        display:flex;
        flex-direction:column;
   }

   #about-me h2{
       text-align: center;
       margin: 20px;
   }
    .portfolio-container{
        display:flex;
        flex-direction: column;
}

   #portfolio h2{
       text-align: center;
       margin: 20px;

   }
   .grid-container span{
       font-size: 100%;
   }

   .portfolio-grid{
        margin:auto;
   }

   .grid-container img {
    border: 5px solid grey;
    border-radius: 20px;
}


   #contact{
    display:flex;
    flex-direction:column;
   }

    #contact h2{
        text-align: center;
        margin: 30px;
    }

   .contact-icons ul li a {
       font-size: 120%;
   }
   
   #MWP-Picture{
       margin:30px 0;
   }
}

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
/*#about-me{
    background-color:green;*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 40px 40px;
    grid-template-areas:
      "Run-Buddy MWP-Web"
      "Run-Buddy Survey-Form"
      "Tombstone Tombstone"
      "Garage-Kitty Locker-Mint"
      "Legendary-Pirate .";
  }
  
  .Run-Buddy { grid-area: Run-Buddy; }
  
  .MWP-Web { grid-area: MWP-Web; }
  
  .Survey-Form { grid-area: Survey-Form; }
  
  .Tombstone { grid-area: Tombstone; }
  
  .Garage-Kitty { grid-area: Garage-Kitty; }
  
  .Locker-Mint { grid-area: Locker-Mint; }
  
  .Legendary-Pirate { grid-area: Legendary-Pirate; }
  
}	
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
   
    /*#about-me{
        background-color:red;*/
  
    .contact-icons ul  {
            display:block;
            
    }
    .grid-container {
        gap: 50px 50px;
    }
    .contact-text{
        margin: 10% 0 0 0;
    }
   
    

    nav ul li a {
      
        font-size: 80%;
        padding: .5em;
        }
    
    a{
        justify-content: center;
    }
  }