* {
    padding: 0;
    margin: 0;
}

body {
    background-image:  url("/Assets/gradient-background.jpg") ;
    background-size: cover;
    height: 100%;
}


/*MWP header start*/
img {
    display: block;
    width: 80%;
    margin: 10rem;
}
.fade-in{
    animation: fadeIn ease 8s; /*cite this section*/
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/*MWP header end*/

/*nav section start*/
nav ul {
    display:flex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    padding:10px;
    margin:10px;
    list-style-type: none;
    }

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: .1em;
}

nav ul li a:hover {
    background-color: white;
    color: black;
    padding: .1em;
}
/*nav section end*/

/*about me section start*/


.about-me-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
   
    
}
.about-me-image {
    width: 25%;
    justify-content: center;
    
    
}

.paragraph {
    width: 30%;
    
}
     
.MWP-Picture {
    width: 25%;
    
}

/*about me section end*/

/*portfolio section start*/
.portfolio {
    display:flex;
    justify-content: space-evenly;
    width: 70%;
    padding: 1em;
    margin: auto;
}

.portfolio-text {
    width: 100%;
    grid-column: 1;
    grid-row: 2;
}

.portfolio-grid {
    width: 100%;
    display:flex;
 

}

/*#image1 {
    width:100%;
    height: auto;
    grid-column: 1;
    grid-row: 1;
}

#image2 {
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
}

#image3 {
    width: 100%;
    height: 100%;
    grid-column: 3;
    grid-row: 1;
}
/*portfolio section end*/

/*contact section start*/
.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    padding: 1em;
    margin: auto;
}
.contact-image {
    width:auto;
    margin: 0;
}

.contact-icons ul{
    display:flex;
    width:auto;
    
}

.contact-icons ul li {  
    padding:10px;
    margin:10px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    }

.contact-icons img {
    fill: white;
    padding: 1em;
    width: 20%
}


/*contact section end*/

